@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pop{
    font-family: 'Poppins', sans-serif;
}



.mont{
    font-family: 'Montserrat', sans-serif;
}

.rale{
    font-family: 'Raleway', sans-serif;
}

.mycolor{
    color: #4ECCA3;
}
.myblack{
    color: #232931;
}
.mywhite{
    color: #EEEEEE;
}
.myshade{
    color: #393E46;
}

input{
   margin-bottom: 10px;
   width: 100%;
   outline-color: #4ECCA3;
   padding-top: 10px;
   padding-left: 10px;
   background-color: #393E46;
   color: #EEEEEE;
}

textarea{
    margin-bottom: 10px;
    width: 100%;
    outline-color: #4ECCA3;
    padding-left: 10px;
    background-color: #393E46;
    color: #EEEEEE;
}

/* background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% ); */